<div class="container">
<table class="table table-striped table-hover">
      <thead>
        <tr class="table-success row m-0">
          <th class="d-inline-block col-1">年齢層</th>
          <th class="d-inline-block col-1">性別</th>
          <th class="d-inline-block col-3">居住国</th>
          <th class="d-inline-block col-6">コメント</th>
          <th class="d-inline-block col-1">詳細</th>
        </tr>
      </thead>
    <tbody>
        <% @all_problems.each do |problem| %>
        <tr class="row m-0">
          <td class="d-inline-block col-1"><%= problem.user.age %>代</td>
          <td class="d-inline-block col-1"><%= japanese_gender(problem.user.gender) %></td>
          <td class="d-inline-block col-3"><%= problem.user.country_of_residence %></td>
          <td class="comment-table d-inline-block col-6" style="word-wrap: break-word;"><%= truncated_comment(problem.japanese_comment) %></td>
          <td class="d-inline-block col-1">
            <%= link_to "マップを開く" ,"https://maps.google.co.jp/maps?q=loc:#{problem.latitude},#{problem.longitude}&iwloc=J",target: "_blank" %>
          </td>
        </tr>
        <% end %>
      </tbody>
</table>
</div>
