<div class="card" style="height: 330px;">
  <% unless problem.image_url.nil?%>
    <%= image_tag(problem.image_url, class: "card-img-top", alt: "Card image cap", size: "180x180")%>
  <% else %>
    <%= image_tag("noimage.jpg", class: "card-img-top", alt: "Card image cap", size: "180x180")%>
  <% end%>
  <div class="card-body">
    <p class="card-text">
      <%= truncated_comment(problem.japanese_comment, 40) %>
    </p>
    <p class="">
      <%= format_date(problem.created_at) %>
    </p>
    <p class="">
      <%= add_generation(problem.user_age) %>
      <%= japanese_gender(problem.user_gender) %>
    </p>
  </div>
</div>
