<h3 class="mg-bottom-15">グラフ表示</h3>
<div class="row mg-bottom-15">
  <div class="col-sm-12">
    <div class="card">
      <div class="row card-body">
        <div class="col-sm-9">
          <nav class="nav nav-tabs" id="myTab" role="tablist">
            <a class="nav-item nav-link active" id="nav-hour-tab" data-toggle="tab" href="#nav-hour" role="tab" aria-controls="nav-hour" aria-selected="false">1時間ごと</a>
            <a class="nav-item nav-link" id="nav-day-tab" data-toggle="tab" href="#nav-day" role="tab" aria-controls="nav-day" aria-selected="false">1日ごと</a>
            <a class="nav-item nav-link" id="nav-month-tab" data-toggle="tab" href="#nav-month" role="tab" aria-controls="nav-month" aria-selected="true">月ごと</a>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-hour" role="tabpanel" aria-labelledby="nav-hour-tab">
              <p class="card-text mg-top-30">投稿数のグラフ</p>
              <%= hour_chart %>
            </div>
            <div class="tab-pane fade" id="nav-day" role="tabpanel" aria-labelledby="nav-day-tab">
              <p class="card-text mg-top-30">投稿数のグラフ</p>
              <%= day_chart %>
            </div>
            <div class="tab-pane fade" id="nav-month" role="tabpanel" aria-labelledby="nav-month-tab">
              <p class="card-text mg-top-30">投稿数のグラフ</p>
              <%= month_chart %>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mg-bottom-15">
            <div class="card-body">
              <p class="card-text">絞り込み用のformをここに</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mg-top-30 mg-bottom-15">
  <div class="col-sm-12">
    <div class="card">
      <div class="row card-body">
        <div class="col-sm-4">
          <p class="card-text">ユーザ数</p>
          <div class="card card-h130 w-75 bg-tsukuba-blue">
            <p class="card-text card-title text-light">全ユーザ数</p>
            <span class="text-light card-number-lg text-center"><%= @all_user_count %></span>
          </div>
          <p class="card-text mg-top-30">男女比</p>
          <div class="progress mg-top-30" style="height: 50px">
            <div class="progress-bar" role="progressbar" style="width: <%= gender_ratio("male")%>%"
                 aria-valuenow="<%= gender_ratio("male") %>"
                 aria-valuemin="0" aria-valuemax="100">
              <% unless gender_ratio("male").zero? %>
                男性<%= gender_ratio("male")%>%
              <% end %>
            </div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: <%= gender_ratio("female")%>%"
                 aria-valuenow="<%= gender_ratio("female")%>"
                 aria-valuemin="0" aria-valuemax="100">
              <% unless gender_ratio("female").zero? %>
                女性<%= gender_ratio("female")%>%
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <p class="card-text">居住国</p>
          <%= country_chart %>
        </div>
        <div class="col-sm-4">
          <p class="card-text">年齢層</p>
          <%= generation_chart %>
        </div>
      </div>
    </div>
  </div>
</div>
